*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
.md a {
  color: $color-red;
}

body {
  overflow-x: hidden; // So transitioned elements that are initially positioned outside the page will not make a scrollbar
}
