$font-size-base: 16px;

$color-red: #ce1126;
$color-yellow: #ffe800;
$color-yellow-alt: #ffb717;

$header-height: 30em;

$sidebar-width: 300px;

$tabmenu-order: hot, new, rising, controversial, top, gilded, promoted;
