.md pre {
  // background-color: #F5F5F5 !important;
  // border-left: 31px solid #ccc;
  position: relative;
  margin-top: 25px;
  border: 0;
  background-color: transparent !important;
  line-height: 15px;
  font-family: "Courier New",courier,monospace;
}

.md.wiki pre {
  margin-right: 400px;
}
