.link .usertext .md a[href$="#000"], .comments-page .comment .md a[href$="#000"]{color:#000!important;}
.link .usertext .md a[href$="#003"], .comments-page .comment .md a[href$="#003"]{color:#003!important;}
.link .usertext .md a[href$="#006"], .comments-page .comment .md a[href$="#006"]{color:#006!important;}
.link .usertext .md a[href$="#009"], .comments-page .comment .md a[href$="#009"]{color:#009!important;}
.link .usertext .md a[href$="#00c"], .comments-page .comment .md a[href$="#00c"]{color:#00c!important;}
.link .usertext .md a[href$="#00f"], .comments-page .comment .md a[href$="#00f"]{color:#00f!important;}

.link .usertext .md a[href$="#300"], .comments-page .comment .md a[href$="#300"]{color:#300!important;}
.link .usertext .md a[href$="#303"], .comments-page .comment .md a[href$="#303"]{color:#303!important;}
.link .usertext .md a[href$="#306"], .comments-page .comment .md a[href$="#306"]{color:#306!important;}
.link .usertext .md a[href$="#309"], .comments-page .comment .md a[href$="#309"]{color:#309!important;}
.link .usertext .md a[href$="#30c"], .comments-page .comment .md a[href$="#30c"]{color:#30c!important;}
.link .usertext .md a[href$="#30f"], .comments-page .comment .md a[href$="#30f"]{color:#30f!important;}

.link .usertext .md a[href$="#600"], .comments-page .comment .md a[href$="#600"]{color:#600!important;}
.link .usertext .md a[href$="#603"], .comments-page .comment .md a[href$="#603"]{color:#603!important;}
.link .usertext .md a[href$="#606"], .comments-page .comment .md a[href$="#606"]{color:#606!important;}
.link .usertext .md a[href$="#609"], .comments-page .comment .md a[href$="#609"]{color:#609!important;}
.link .usertext .md a[href$="#60c"], .comments-page .comment .md a[href$="#60c"]{color:#60c!important;}
.link .usertext .md a[href$="#60f"], .comments-page .comment .md a[href$="#60f"]{color:#60f!important;}

.link .usertext .md a[href$="#900"], .comments-page .comment .md a[href$="#900"]{color:#900!important;}
.link .usertext .md a[href$="#903"], .comments-page .comment .md a[href$="#903"]{color:#903!important;}
.link .usertext .md a[href$="#906"], .comments-page .comment .md a[href$="#906"]{color:#906!important;}
.link .usertext .md a[href$="#909"], .comments-page .comment .md a[href$="#909"]{color:#909!important;}
.link .usertext .md a[href$="#90c"], .comments-page .comment .md a[href$="#90c"]{color:#90c!important;}
.link .usertext .md a[href$="#90f"], .comments-page .comment .md a[href$="#90f"]{color:#90f!important;}

.link .usertext .md a[href$="#c00"], .comments-page .comment .md a[href$="#c00"]{color:#c00!important;}
.link .usertext .md a[href$="#c03"], .comments-page .comment .md a[href$="#c03"]{color:#c03!important;}
.link .usertext .md a[href$="#c06"], .comments-page .comment .md a[href$="#c06"]{color:#c06!important;}
.link .usertext .md a[href$="#c09"], .comments-page .comment .md a[href$="#c09"]{color:#c09!important;}
.link .usertext .md a[href$="#c0c"], .comments-page .comment .md a[href$="#c0c"]{color:#c0c!important;}
.link .usertext .md a[href$="#c0f"], .comments-page .comment .md a[href$="#c0f"]{color:#c0f!important;}

.link .usertext .md a[href$="#f00"], .comments-page .comment .md a[href$="#f00"]{color:#f00!important;}
.link .usertext .md a[href$="#f03"], .comments-page .comment .md a[href$="#f03"]{color:#f03!important;}
.link .usertext .md a[href$="#f06"], .comments-page .comment .md a[href$="#f06"]{color:#f06!important;}
.link .usertext .md a[href$="#f09"], .comments-page .comment .md a[href$="#f09"]{color:#f09!important;}
.link .usertext .md a[href$="#f0c"], .comments-page .comment .md a[href$="#f0c"]{color:#f0c!important;}
.link .usertext .md a[href$="#f0f"], .comments-page .comment .md a[href$="#f0f"]{color:#f0f!important;}


.link .usertext .md a[href$="#030"], .comments-page .comment .md a[href$="#030"]{color:#030!important;}
.link .usertext .md a[href$="#033"], .comments-page .comment .md a[href$="#033"]{color:#033!important;}
.link .usertext .md a[href$="#036"], .comments-page .comment .md a[href$="#036"]{color:#036!important;}
.link .usertext .md a[href$="#039"], .comments-page .comment .md a[href$="#039"]{color:#039!important;}
.link .usertext .md a[href$="#03c"], .comments-page .comment .md a[href$="#03c"]{color:#03c!important;}
.link .usertext .md a[href$="#03f"], .comments-page .comment .md a[href$="#03f"]{color:#03f!important;}

.link .usertext .md a[href$="#330"], .comments-page .comment .md a[href$="#330"]{color:#330!important;}
.link .usertext .md a[href$="#333"], .comments-page .comment .md a[href$="#333"]{color:#333!important;}
.link .usertext .md a[href$="#336"], .comments-page .comment .md a[href$="#336"]{color:#336!important;}
.link .usertext .md a[href$="#339"], .comments-page .comment .md a[href$="#339"]{color:#339!important;}
.link .usertext .md a[href$="#33c"], .comments-page .comment .md a[href$="#33c"]{color:#33c!important;}
.link .usertext .md a[href$="#33f"], .comments-page .comment .md a[href$="#33f"]{color:#33f!important;}

.link .usertext .md a[href$="#630"], .comments-page .comment .md a[href$="#630"]{color:#630!important;}
.link .usertext .md a[href$="#633"], .comments-page .comment .md a[href$="#633"]{color:#633!important;}
.link .usertext .md a[href$="#636"], .comments-page .comment .md a[href$="#636"]{color:#636!important;}
.link .usertext .md a[href$="#639"], .comments-page .comment .md a[href$="#639"]{color:#639!important;}
.link .usertext .md a[href$="#63c"], .comments-page .comment .md a[href$="#63c"]{color:#63c!important;}
.link .usertext .md a[href$="#63f"], .comments-page .comment .md a[href$="#63f"]{color:#63f!important;}

.link .usertext .md a[href$="#930"], .comments-page .comment .md a[href$="#930"]{color:#930!important;}
.link .usertext .md a[href$="#933"], .comments-page .comment .md a[href$="#933"]{color:#933!important;}
.link .usertext .md a[href$="#936"], .comments-page .comment .md a[href$="#936"]{color:#936!important;}
.link .usertext .md a[href$="#939"], .comments-page .comment .md a[href$="#939"]{color:#939!important;}
.link .usertext .md a[href$="#93c"], .comments-page .comment .md a[href$="#93c"]{color:#93c!important;}
.link .usertext .md a[href$="#93f"], .comments-page .comment .md a[href$="#93f"]{color:#93f!important;}

.link .usertext .md a[href$="#c30"], .comments-page .comment .md a[href$="#c30"]{color:#c30!important;}
.link .usertext .md a[href$="#c33"], .comments-page .comment .md a[href$="#c33"]{color:#c33!important;}
.link .usertext .md a[href$="#c36"], .comments-page .comment .md a[href$="#c36"]{color:#c36!important;}
.link .usertext .md a[href$="#c39"], .comments-page .comment .md a[href$="#c39"]{color:#c39!important;}
.link .usertext .md a[href$="#c3c"], .comments-page .comment .md a[href$="#c3c"]{color:#c3c!important;}
.link .usertext .md a[href$="#c3f"], .comments-page .comment .md a[href$="#c3f"]{color:#c3f!important;}

.link .usertext .md a[href$="#f30"], .comments-page .comment .md a[href$="#f30"]{color:#f30!important;}
.link .usertext .md a[href$="#f33"], .comments-page .comment .md a[href$="#f33"]{color:#f33!important;}
.link .usertext .md a[href$="#f36"], .comments-page .comment .md a[href$="#f36"]{color:#f36!important;}
.link .usertext .md a[href$="#f39"], .comments-page .comment .md a[href$="#f39"]{color:#f39!important;}
.link .usertext .md a[href$="#f3c"], .comments-page .comment .md a[href$="#f3c"]{color:#f3c!important;}
.link .usertext .md a[href$="#f3f"], .comments-page .comment .md a[href$="#f3f"]{color:#f3f!important;}


.link .usertext .md a[href$="#060"], .comments-page .comment .md a[href$="#060"]{color:#060!important;}
.link .usertext .md a[href$="#063"], .comments-page .comment .md a[href$="#063"]{color:#063!important;}
.link .usertext .md a[href$="#066"], .comments-page .comment .md a[href$="#066"]{color:#066!important;}
.link .usertext .md a[href$="#069"], .comments-page .comment .md a[href$="#069"]{color:#069!important;}
.link .usertext .md a[href$="#06c"], .comments-page .comment .md a[href$="#06c"]{color:#06c!important;}
.link .usertext .md a[href$="#06f"], .comments-page .comment .md a[href$="#06f"]{color:#06f!important;}

.link .usertext .md a[href$="#360"], .comments-page .comment .md a[href$="#360"]{color:#360!important;}
.link .usertext .md a[href$="#363"], .comments-page .comment .md a[href$="#363"]{color:#363!important;}
.link .usertext .md a[href$="#366"], .comments-page .comment .md a[href$="#366"]{color:#366!important;}
.link .usertext .md a[href$="#369"], .comments-page .comment .md a[href$="#369"]{color:#369!important;}
.link .usertext .md a[href$="#36c"], .comments-page .comment .md a[href$="#36c"]{color:#36c!important;}
.link .usertext .md a[href$="#36f"], .comments-page .comment .md a[href$="#36f"]{color:#36f!important;}

.link .usertext .md a[href$="#660"], .comments-page .comment .md a[href$="#660"]{color:#660!important;}
.link .usertext .md a[href$="#663"], .comments-page .comment .md a[href$="#663"]{color:#663!important;}
.link .usertext .md a[href$="#666"], .comments-page .comment .md a[href$="#666"]{color:#666!important;}
.link .usertext .md a[href$="#669"], .comments-page .comment .md a[href$="#669"]{color:#669!important;}
.link .usertext .md a[href$="#66c"], .comments-page .comment .md a[href$="#66c"]{color:#66c!important;}
.link .usertext .md a[href$="#66f"], .comments-page .comment .md a[href$="#66f"]{color:#66f!important;}

.link .usertext .md a[href$="#960"], .comments-page .comment .md a[href$="#960"]{color:#960!important;}
.link .usertext .md a[href$="#963"], .comments-page .comment .md a[href$="#963"]{color:#963!important;}
.link .usertext .md a[href$="#966"], .comments-page .comment .md a[href$="#966"]{color:#966!important;}
.link .usertext .md a[href$="#969"], .comments-page .comment .md a[href$="#969"]{color:#969!important;}
.link .usertext .md a[href$="#96c"], .comments-page .comment .md a[href$="#96c"]{color:#96c!important;}
.link .usertext .md a[href$="#96f"], .comments-page .comment .md a[href$="#96f"]{color:#96f!important;}

.link .usertext .md a[href$="#c60"], .comments-page .comment .md a[href$="#c60"]{color:#c60!important;}
.link .usertext .md a[href$="#c63"], .comments-page .comment .md a[href$="#c63"]{color:#c63!important;}
.link .usertext .md a[href$="#c66"], .comments-page .comment .md a[href$="#c66"]{color:#c66!important;}
.link .usertext .md a[href$="#c69"], .comments-page .comment .md a[href$="#c69"]{color:#c69!important;}
.link .usertext .md a[href$="#c6c"], .comments-page .comment .md a[href$="#c6c"]{color:#c6c!important;}
.link .usertext .md a[href$="#c6f"], .comments-page .comment .md a[href$="#c6f"]{color:#c6f!important;}

.link .usertext .md a[href$="#f60"], .comments-page .comment .md a[href$="#f60"]{color:#f60!important;}
.link .usertext .md a[href$="#f63"], .comments-page .comment .md a[href$="#f63"]{color:#f63!important;}
.link .usertext .md a[href$="#f66"], .comments-page .comment .md a[href$="#f66"]{color:#f66!important;}
.link .usertext .md a[href$="#f69"], .comments-page .comment .md a[href$="#f69"]{color:#f69!important;}
.link .usertext .md a[href$="#f6c"], .comments-page .comment .md a[href$="#f6c"]{color:#f6c!important;}
.link .usertext .md a[href$="#f6f"], .comments-page .comment .md a[href$="#f6f"]{color:#f6f!important;}


.link .usertext .md a[href$="#090"], .comments-page .comment .md a[href$="#090"]{color:#090!important;}
.link .usertext .md a[href$="#093"], .comments-page .comment .md a[href$="#093"]{color:#093!important;}
.link .usertext .md a[href$="#096"], .comments-page .comment .md a[href$="#096"]{color:#096!important;}
.link .usertext .md a[href$="#099"], .comments-page .comment .md a[href$="#099"]{color:#099!important;}
.link .usertext .md a[href$="#09c"], .comments-page .comment .md a[href$="#09c"]{color:#09c!important;}
.link .usertext .md a[href$="#09f"], .comments-page .comment .md a[href$="#09f"]{color:#09f!important;}

.link .usertext .md a[href$="#390"], .comments-page .comment .md a[href$="#390"]{color:#390!important;}
.link .usertext .md a[href$="#393"], .comments-page .comment .md a[href$="#393"]{color:#393!important;}
.link .usertext .md a[href$="#396"], .comments-page .comment .md a[href$="#396"]{color:#396!important;}
.link .usertext .md a[href$="#399"], .comments-page .comment .md a[href$="#399"]{color:#399!important;}
.link .usertext .md a[href$="#39c"], .comments-page .comment .md a[href$="#39c"]{color:#39c!important;}
.link .usertext .md a[href$="#39f"], .comments-page .comment .md a[href$="#39f"]{color:#39f!important;}

.link .usertext .md a[href$="#690"], .comments-page .comment .md a[href$="#690"]{color:#690!important;}
.link .usertext .md a[href$="#693"], .comments-page .comment .md a[href$="#693"]{color:#693!important;}
.link .usertext .md a[href$="#696"], .comments-page .comment .md a[href$="#696"]{color:#696!important;}
.link .usertext .md a[href$="#699"], .comments-page .comment .md a[href$="#699"]{color:#699!important;}
.link .usertext .md a[href$="#69c"], .comments-page .comment .md a[href$="#69c"]{color:#69c!important;}
.link .usertext .md a[href$="#69f"], .comments-page .comment .md a[href$="#69f"]{color:#69f!important;}

.link .usertext .md a[href$="#990"], .comments-page .comment .md a[href$="#990"]{color:#990!important;}
.link .usertext .md a[href$="#993"], .comments-page .comment .md a[href$="#993"]{color:#993!important;}
.link .usertext .md a[href$="#996"], .comments-page .comment .md a[href$="#996"]{color:#996!important;}
.link .usertext .md a[href$="#999"], .comments-page .comment .md a[href$="#999"]{color:#999!important;}
.link .usertext .md a[href$="#99c"], .comments-page .comment .md a[href$="#99c"]{color:#99c!important;}
.link .usertext .md a[href$="#99f"], .comments-page .comment .md a[href$="#99f"]{color:#99f!important;}

.link .usertext .md a[href$="#c90"], .comments-page .comment .md a[href$="#c90"]{color:#c90!important;}
.link .usertext .md a[href$="#c93"], .comments-page .comment .md a[href$="#c93"]{color:#c93!important;}
.link .usertext .md a[href$="#c96"], .comments-page .comment .md a[href$="#c96"]{color:#c96!important;}
.link .usertext .md a[href$="#c99"], .comments-page .comment .md a[href$="#c99"]{color:#c99!important;}
.link .usertext .md a[href$="#c9c"], .comments-page .comment .md a[href$="#c9c"]{color:#c9c!important;}
.link .usertext .md a[href$="#c9f"], .comments-page .comment .md a[href$="#c9f"]{color:#c9f!important;}

.link .usertext .md a[href$="#f90"], .comments-page .comment .md a[href$="#f90"]{color:#f90!important;}
.link .usertext .md a[href$="#f93"], .comments-page .comment .md a[href$="#f93"]{color:#f93!important;}
.link .usertext .md a[href$="#f96"], .comments-page .comment .md a[href$="#f96"]{color:#f96!important;}
.link .usertext .md a[href$="#f99"], .comments-page .comment .md a[href$="#f99"]{color:#f99!important;}
.link .usertext .md a[href$="#f9c"], .comments-page .comment .md a[href$="#f9c"]{color:#f9c!important;}
.link .usertext .md a[href$="#f9f"], .comments-page .comment .md a[href$="#f9f"]{color:#f9f!important;}


.link .usertext .md a[href$="#0c0"], .comments-page .comment .md a[href$="#0c0"]{color:#0c0!important;}
.link .usertext .md a[href$="#0c3"], .comments-page .comment .md a[href$="#0c3"]{color:#0c3!important;}
.link .usertext .md a[href$="#0c6"], .comments-page .comment .md a[href$="#0c6"]{color:#0c6!important;}
.link .usertext .md a[href$="#0c9"], .comments-page .comment .md a[href$="#0c9"]{color:#0c9!important;}
.link .usertext .md a[href$="#0cc"], .comments-page .comment .md a[href$="#0cc"]{color:#0cc!important;}
.link .usertext .md a[href$="#0cf"], .comments-page .comment .md a[href$="#0cf"]{color:#0cf!important;}

.link .usertext .md a[href$="#3c0"], .comments-page .comment .md a[href$="#3c0"]{color:#3c0!important;}
.link .usertext .md a[href$="#3c3"], .comments-page .comment .md a[href$="#3c3"]{color:#3c3!important;}
.link .usertext .md a[href$="#3c6"], .comments-page .comment .md a[href$="#3c6"]{color:#3c6!important;}
.link .usertext .md a[href$="#3c9"], .comments-page .comment .md a[href$="#3c9"]{color:#3c9!important;}
.link .usertext .md a[href$="#3cc"], .comments-page .comment .md a[href$="#3cc"]{color:#3cc!important;}
.link .usertext .md a[href$="#3cf"], .comments-page .comment .md a[href$="#3cf"]{color:#3cf!important;}

.link .usertext .md a[href$="#6c0"], .comments-page .comment .md a[href$="#6c0"]{color:#6c0!important;}
.link .usertext .md a[href$="#6c3"], .comments-page .comment .md a[href$="#6c3"]{color:#6c3!important;}
.link .usertext .md a[href$="#6c6"], .comments-page .comment .md a[href$="#6c6"]{color:#6c6!important;}
.link .usertext .md a[href$="#6c9"], .comments-page .comment .md a[href$="#6c9"]{color:#6c9!important;}
.link .usertext .md a[href$="#6cc"], .comments-page .comment .md a[href$="#6cc"]{color:#6cc!important;}
.link .usertext .md a[href$="#6cf"], .comments-page .comment .md a[href$="#6cf"]{color:#6cf!important;}

.link .usertext .md a[href$="#9c0"], .comments-page .comment .md a[href$="#9c0"]{color:#9c0!important;}
.link .usertext .md a[href$="#9c3"], .comments-page .comment .md a[href$="#9c3"]{color:#9c3!important;}
.link .usertext .md a[href$="#9c6"], .comments-page .comment .md a[href$="#9c6"]{color:#9c6!important;}
.link .usertext .md a[href$="#9c9"], .comments-page .comment .md a[href$="#9c9"]{color:#9c9!important;}
.link .usertext .md a[href$="#9cc"], .comments-page .comment .md a[href$="#9cc"]{color:#9cc!important;}
.link .usertext .md a[href$="#9cf"], .comments-page .comment .md a[href$="#9cf"]{color:#9cf!important;}

.link .usertext .md a[href$="#cc0"], .comments-page .comment .md a[href$="#cc0"]{color:#cc0!important;}
.link .usertext .md a[href$="#cc3"], .comments-page .comment .md a[href$="#cc3"]{color:#cc3!important;}
.link .usertext .md a[href$="#cc6"], .comments-page .comment .md a[href$="#cc6"]{color:#cc6!important;}
.link .usertext .md a[href$="#cc9"], .comments-page .comment .md a[href$="#cc9"]{color:#cc9!important;}
.link .usertext .md a[href$="#ccc"], .comments-page .comment .md a[href$="#ccc"]{color:#ccc!important;}
.link .usertext .md a[href$="#ccf"], .comments-page .comment .md a[href$="#ccf"]{color:#ccf!important;}

.link .usertext .md a[href$="#fc0"], .comments-page .comment .md a[href$="#fc0"]{color:#fc0!important;}
.link .usertext .md a[href$="#fc3"], .comments-page .comment .md a[href$="#fc3"]{color:#fc3!important;}
.link .usertext .md a[href$="#fc6"], .comments-page .comment .md a[href$="#fc6"]{color:#fc6!important;}
.link .usertext .md a[href$="#fc9"], .comments-page .comment .md a[href$="#fc9"]{color:#fc9!important;}
.link .usertext .md a[href$="#fcc"], .comments-page .comment .md a[href$="#fcc"]{color:#fcc!important;}
.link .usertext .md a[href$="#fcf"], .comments-page .comment .md a[href$="#fcf"]{color:#fcf!important;}


.link .usertext .md a[href$="#0f0"], .comments-page .comment .md a[href$="#0f0"]{color:#0f0!important;}
.link .usertext .md a[href$="#0f3"], .comments-page .comment .md a[href$="#0f3"]{color:#0f3!important;}
.link .usertext .md a[href$="#0f6"], .comments-page .comment .md a[href$="#0f6"]{color:#0f6!important;}
.link .usertext .md a[href$="#0f9"], .comments-page .comment .md a[href$="#0f9"]{color:#0f9!important;}
.link .usertext .md a[href$="#0fc"], .comments-page .comment .md a[href$="#0fc"]{color:#0fc!important;}
.link .usertext .md a[href$="#0ff"], .comments-page .comment .md a[href$="#0ff"]{color:#0ff!important;}

.link .usertext .md a[href$="#3f0"], .comments-page .comment .md a[href$="#3f0"]{color:#3f0!important;}
.link .usertext .md a[href$="#3f3"], .comments-page .comment .md a[href$="#3f3"]{color:#3f3!important;}
.link .usertext .md a[href$="#3f6"], .comments-page .comment .md a[href$="#3f6"]{color:#3f6!important;}
.link .usertext .md a[href$="#3f9"], .comments-page .comment .md a[href$="#3f9"]{color:#3f9!important;}
.link .usertext .md a[href$="#3fc"], .comments-page .comment .md a[href$="#3fc"]{color:#3fc!important;}
.link .usertext .md a[href$="#3ff"], .comments-page .comment .md a[href$="#3ff"]{color:#3ff!important;}

.link .usertext .md a[href$="#6f0"], .comments-page .comment .md a[href$="#6f0"]{color:#6f0!important;}
.link .usertext .md a[href$="#6f3"], .comments-page .comment .md a[href$="#6f3"]{color:#6f3!important;}
.link .usertext .md a[href$="#6f6"], .comments-page .comment .md a[href$="#6f6"]{color:#6f6!important;}
.link .usertext .md a[href$="#6f9"], .comments-page .comment .md a[href$="#6f9"]{color:#6f9!important;}
.link .usertext .md a[href$="#6fc"], .comments-page .comment .md a[href$="#6fc"]{color:#6fc!important;}
.link .usertext .md a[href$="#6ff"], .comments-page .comment .md a[href$="#6ff"]{color:#6ff!important;}

.link .usertext .md a[href$="#9f0"], .comments-page .comment .md a[href$="#9f0"]{color:#9f0!important;}
.link .usertext .md a[href$="#9f3"], .comments-page .comment .md a[href$="#9f3"]{color:#9f3!important;}
.link .usertext .md a[href$="#9f6"], .comments-page .comment .md a[href$="#9f6"]{color:#9f6!important;}
.link .usertext .md a[href$="#9f9"], .comments-page .comment .md a[href$="#9f9"]{color:#9f9!important;}
.link .usertext .md a[href$="#9fc"], .comments-page .comment .md a[href$="#9fc"]{color:#9fc!important;}
.link .usertext .md a[href$="#9ff"], .comments-page .comment .md a[href$="#9ff"]{color:#9ff!important;}

.link .usertext .md a[href$="#cf0"], .comments-page .comment .md a[href$="#cf0"]{color:#cf0!important;}
.link .usertext .md a[href$="#cf3"], .comments-page .comment .md a[href$="#cf3"]{color:#cf3!important;}
.link .usertext .md a[href$="#cf6"], .comments-page .comment .md a[href$="#cf6"]{color:#cf6!important;}
.link .usertext .md a[href$="#cf9"], .comments-page .comment .md a[href$="#cf9"]{color:#cf9!important;}
.link .usertext .md a[href$="#cfc"], .comments-page .comment .md a[href$="#cfc"]{color:#cfc!important;}
.link .usertext .md a[href$="#cff"], .comments-page .comment .md a[href$="#cff"]{color:#cff!important;}

.link .usertext .md a[href$="#ff0"], .comments-page .comment .md a[href$="#ff0"]{color:#ff0!important;}
.link .usertext .md a[href$="#ff3"], .comments-page .comment .md a[href$="#ff3"]{color:#ff3!important;}
.link .usertext .md a[href$="#ff6"], .comments-page .comment .md a[href$="#ff6"]{color:#ff6!important;}
.link .usertext .md a[href$="#ff9"], .comments-page .comment .md a[href$="#ff9"]{color:#ff9!important;}
.link .usertext .md a[href$="#ffc"], .comments-page .comment .md a[href$="#ffc"]{color:#ffc!important;}
.link .usertext .md a[href$="#fff"], .comments-page .comment .md a[href$="#fff"]{color:#fff!important;}
