/* 9.4.5 REMINDERS */
/* 1.9.4.5 SUBMISSION REMINDER */

// TODO: Can .submit be taken out? Find references where .morelink is used other than the submit buttons
// NOTE: The implementation of transform to show the popup is broken on IE 8. Needs more research on fallback
.submit .morelink:before,
.submit .morelink:after {
  display: block;
  position: absolute;
  top: 40px;
  right: -155px;
  width: 300px;
  height: 0;
  opacity: 0;
  color: white;
  letter-spacing: .1px;
  font-size: 11px;
  text-shadow: 0 1px 0 #960011;
  text-transform: uppercase;
  text-align: center;
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  pointer-events: none;
}

.submit .morelink:before {
  content: "Please check out the sidebar before submitting.";
  height: 64px;
  box-shadow: 0 5px 10px #555;
  background-color: #CE1126;
}

.submit .morelink:after{
  content: "Tolong baca sidebar sebelum submit.";
  top: 75px;
}

.submit-text .morelink:before,
.submit-text .morelink:after {
  right: -15px;
}

.submit .morelink:hover:before,
.submit .morelink:hover:after {
  opacity: 1;
  transform: translateY(20px);
}

.submit .morelink:hover:before {
  transform: scaleY(1) translateY(20px);
}

.formtabs-content .infobar:before {
  content: "Please check out the sidebar before submitting anything.";
}

/* 9.4.5.2 DOWNVOTE REMINDER */
.comment .arrow.down:before, .arrow.down:after{
  position:fixed;
  display:block;
  z-index:1000;
  text-align:center;
  width:100%;
  left:0;
  background-color:#CE1126;
  color:white;
  font-size:16px;
  text-transform: uppercase;
  text-shadow: rgba(0,0,0,.04) 0 0 1px;
  letter-spacing: -.03em;
}

.comment .arrow.down:before{
  content:"Downvotes are for comments that do not contribute to the discussion, not for expressing disagreement.";
  bottom:-30px;
  padding-top:4px;
  padding-bottom:1px;
  -webkit-transition: bottom .5s ease;
  -moz-transition: bottom .5s ease;
  -o-transition: bottom .5s ease;
  transition: bottom .5s ease;
}

.comment .arrow.down:after{
  content:"Downvote diberikan pada komentar yang tidak memiliki kontribusi pada topik, bukan yang tidak anda setujui.";
  bottom:-50px;
  padding-bottom:2px;
  -webkit-transition: bottom .5s ease;
  -moz-transition: bottom .5s ease;
  -o-transition: bottom .5s ease;
  transition: bottom .5s ease;
}

.comment .arrow.down:hover:before{
  bottom: 20px;
}

.comment .arrow.down:hover:after{
  bottom: 0;
}
