/* 9.4.5 REMINDERS */
/* 1.9.4.5 SUBMISSION REMINDER */

// TODO: Can .submit be taken out? Find references where .morelink is used other than the submit buttons
// NOTE: The implementation of transform to show the popup is broken on IE 8. Needs more research on fallback
.submit .morelink:before,
.submit .morelink:after {
  display: block;
  position: absolute;
  top: 40px;
  right: -155px;
  width: 300px;
  height: 0;
  opacity: 0;
  color: white;
  letter-spacing: .1px;
  font-size: 11px;
  text-shadow: 0 1px 0 #960011;
  text-transform: uppercase;
  text-align: center;
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  pointer-events: none;
}

.submit .morelink:before {
  content: "Please check out the sidebar before submitting.";
  height: 64px;
  box-shadow: 0 5px 10px #555;
  background-color: #CE1126;
}

.submit .morelink:after{
  content: "Tolong baca sidebar sebelum submit.";
  top: 75px;
}

.submit-text .morelink:before,
.submit-text .morelink:after {
  right: -15px;
}

.submit .morelink:hover:before,
.submit .morelink:hover:after {
  opacity: 1;
  transform: translateY(20px);
}

.submit .morelink:hover:before {
  transform: scaleY(1) translateY(20px);
}

.formtabs-content .infobar:before {
  content: "Please check out the sidebar before submitting anything.";
}

/* 9.4.5.2 DOWNVOTE REMINDER */
.comment .arrow.down:before,
.comment .arrow.down:after {
  position: fixed;
  display: block;
  z-index: 1000;
  text-align: center;
  width: 100%;
  left: 0;
  top: 100%;
  margin-top: 0;
  background-color: #CE1126;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  transition: transform .5s cubic-bezier(.4,0,.2,1);
}

.comment .arrow.down:before{
  content:"Downvotes are for comments that do not contribute to the discussion, not for expressing disagreement.";
}

.comment .arrow.down:after{
  content:"Downvote diberikan pada komentar yang tidak memiliki kontribusi pada topik, bukan yang tidak anda setujui.";
}

.comment .arrow.down:hover:before{
  transform: translateY(-30px);
}

.comment .arrow.down:hover:after{
  transform: translateY(-50px);
}
