a[href$="#s"],
a[href$="/s"],
a[href$="/spoiler"] {
  border: 1px solid #ce1126;
  background: #ce1126 !important;
  color: #ce1126 !important;
  cursor: text;

  &:hover {
    color: #f1f1f1 !important;
    text-decoration: none;

    &[title]:after {
      color: #f1f1f1 !important;
      text-decoration: none;
    }
  }

  &[title] {
    background: white!important;
    color: black !important;

    &:after {
      content: attr(title) " ";
      padding: 0 5px;
      background: #ce1126 !important;
      color: #ce1126 !important;
    }
  }
}
