%svg-common {
	background: url(images/icon-sprites.svg) no-repeat;
}

.svg-ic_expand_less_black_48px {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-ic_expand_less_black_48px-dims {
	width: 48px;
	height: 48px;
}

.svg-ic_expand_more_black_48px {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-ic_expand_more_black_48px-dims {
	width: 48px;
	height: 48px;
}

