

@mixin icon-sprite($name, $scale: 1) {
	background: url(%%icon-sprites%%) no-repeat;
	background-size: (269px * $scale) (226px * $scale);

	@if $name == "arrow-down" {
		
		background-position: 93.0029535864979% 24.742268041237114%;

		@if ($scale != 0) {
			width: 32px * $scale;
			height: 32px * $scale;
		}
	}

@if $name == "arrow-down--main" {
		
		background-position: 93.0029535864979% 74.22680412371135%;

		@if ($scale != 0) {
			width: 32px * $scale;
			height: 32px * $scale;
		}
	}

@if $name == "arrow-up" {
		
		background-position: 93.0029535864979% 41.23711340206186%;

		@if ($scale != 0) {
			width: 32px * $scale;
			height: 32px * $scale;
		}
	}

@if $name == "arrow-up--main" {
		
		background-position: 93.0029535864979% 57.7319587628866%;

		@if ($scale != 0) {
			width: 32px * $scale;
			height: 32px * $scale;
		}
	}

@if $name == "bars" {
		
		background-position: 70.77692307692308% 38.70786516853933%;

		@if ($scale != 0) {
			width: 48px * $scale;
			height: 48px * $scale;
		}
	}

@if $name == "content-text" {
		
		background-position: 0 100%;

		@if ($scale != 0) {
			width: 24px * $scale;
			height: 24px * $scale;
		}
	}

@if $name == "content-text--main" {
		
		background-position: 97.95918367346938% 88.11881188118812%;

		@if ($scale != 0) {
			width: 24px * $scale;
			height: 24px * $scale;
		}
	}

@if $name == "email" {
		
		background-position: 0 73.03370786516854%;

		@if ($scale != 0) {
			width: 48px * $scale;
			height: 48px * $scale;
		}
	}

@if $name == "email--main" {
		
		background-position: 21.71945701357466% 73.03370786516854%;

		@if ($scale != 0) {
			width: 48px * $scale;
			height: 48px * $scale;
		}
	}

@if $name == "garuda--white" {
		
		background-position: 76.30097560975611% 0;

		@if ($scale != 0) {
			width: 64px * $scale;
			height: 68.9px * $scale;
		}
	}

@if $name == "header-controversial" {
		
		background-position: 0 88.11881188118812%;

		@if ($scale != 0) {
			width: 24px * $scale;
			height: 24px * $scale;
		}
	}

@if $name == "header-gilded" {
		
		background-position: 58.775510204081634% 88.11881188118812%;

		@if ($scale != 0) {
			width: 24px * $scale;
			height: 24px * $scale;
		}
	}

@if $name == "header-hot" {
		
		background-position: 29.387755102040817% 88.11881188118812%;

		@if ($scale != 0) {
			width: 24px * $scale;
			height: 24px * $scale;
		}
	}

@if $name == "header-new" {
		
		background-position: 68.57142857142857% 88.11881188118812%;

		@if ($scale != 0) {
			width: 24px * $scale;
			height: 24px * $scale;
		}
	}

@if $name == "header-promoted" {
		
		background-position: 19.591836734693878% 88.11881188118812%;

		@if ($scale != 0) {
			width: 24px * $scale;
			height: 24px * $scale;
		}
	}

@if $name == "header-rising" {
		
		background-position: 9.795918367346939% 100%;

		@if ($scale != 0) {
			width: 24px * $scale;
			height: 24px * $scale;
		}
	}

@if $name == "header-top" {
		
		background-position: 9.795918367346939% 88.11881188118812%;

		@if ($scale != 0) {
			width: 24px * $scale;
			height: 24px * $scale;
		}
	}

@if $name == "image--white" {
		
		background-position: 79.66804979253112% 65.65656565656566%;

		@if ($scale != 0) {
			width: 28px * $scale;
			height: 28px * $scale;
		}
	}

@if $name == "logout" {
		
		background-position: 99.73619909502263% 0;

		@if ($scale != 0) {
			width: 48px * $scale;
			height: 48px * $scale;
		}
	}

@if $name == "media-embed" {
		
		background-position: 39.183673469387756% 88.11881188118812%;

		@if ($scale != 0) {
			width: 24px * $scale;
			height: 24px * $scale;
		}
	}

@if $name == "quote" {
		
		background-position: 48.97959183673469% 88.11881188118812%;

		@if ($scale != 0) {
			width: 24px * $scale;
			height: 24px * $scale;
		}
	}

@if $name == "reddit" {
		
		background-position: 65.15837104072398% 73.03370786516854%;

		@if ($scale != 0) {
			width: 48px * $scale;
			height: 48px * $scale;
		}
	}

@if $name == "reddit--main" {
		
		background-position: 43.43891402714932% 73.03370786516854%;

		@if ($scale != 0) {
			width: 48px * $scale;
			height: 48px * $scale;
		}
	}

@if $name == "search" {
		
		background-position: 19.27710843373494% 98.05825242718447%;

		@if ($scale != 0) {
			width: 20px * $scale;
			height: 20px * $scale;
		}
	}

@if $name == "search--main" {
		
		background-position: 77.10843373493977% 76.69902912621359%;

		@if ($scale != 0) {
			width: 20px * $scale;
			height: 20px * $scale;
		}
	}

@if $name == "settings" {
		
		background-position: 45.248868778280546% 40.168539325842694%;

		@if ($scale != 0) {
			width: 48px * $scale;
			height: 48px * $scale;
		}
	}

@if $name == "the-man" {
		
		background-position: 0 0;

		@if ($scale != 0) {
			width: 100px * $scale;
			height: 130px * $scale;
		}
	}

@if $name == "video" {
		
		background-position: 88.16326530612245% 88.11881188118812%;

		@if ($scale != 0) {
			width: 24px * $scale;
			height: 24px * $scale;
		}
	}

@if $name == "video--main" {
		
		background-position: 78.36734693877551% 88.11881188118812%;

		@if ($scale != 0) {
			width: 24px * $scale;
			height: 24px * $scale;
		}
	}

@if $name == "wings" {
		
		background-position: 47.04045008302639% 0;

		@if ($scale != 0) {
			width: 56.417px * $scale;
			height: 71.5px * $scale;
		}
	}

}

@mixin icon-sprite-background-position($name) {
	@if $name == "arrow-down" {
		background-position: 93.0029535864979% 24.742268041237114%;
	}
	@if $name == "arrow-down--main" {
		background-position: 93.0029535864979% 74.22680412371135%;
	}
	@if $name == "arrow-up" {
		background-position: 93.0029535864979% 41.23711340206186%;
	}
	@if $name == "arrow-up--main" {
		background-position: 93.0029535864979% 57.7319587628866%;
	}
	@if $name == "bars" {
		background-position: 70.77692307692308% 38.70786516853933%;
	}
	@if $name == "content-text" {
		background-position: 0 100%;
	}
	@if $name == "content-text--main" {
		background-position: 97.95918367346938% 88.11881188118812%;
	}
	@if $name == "email" {
		background-position: 0 73.03370786516854%;
	}
	@if $name == "email--main" {
		background-position: 21.71945701357466% 73.03370786516854%;
	}
	@if $name == "garuda--white" {
		background-position: 76.30097560975611% 0;
	}
	@if $name == "header-controversial" {
		background-position: 0 88.11881188118812%;
	}
	@if $name == "header-gilded" {
		background-position: 58.775510204081634% 88.11881188118812%;
	}
	@if $name == "header-hot" {
		background-position: 29.387755102040817% 88.11881188118812%;
	}
	@if $name == "header-new" {
		background-position: 68.57142857142857% 88.11881188118812%;
	}
	@if $name == "header-promoted" {
		background-position: 19.591836734693878% 88.11881188118812%;
	}
	@if $name == "header-rising" {
		background-position: 9.795918367346939% 100%;
	}
	@if $name == "header-top" {
		background-position: 9.795918367346939% 88.11881188118812%;
	}
	@if $name == "image--white" {
		background-position: 79.66804979253112% 65.65656565656566%;
	}
	@if $name == "logout" {
		background-position: 99.73619909502263% 0;
	}
	@if $name == "media-embed" {
		background-position: 39.183673469387756% 88.11881188118812%;
	}
	@if $name == "quote" {
		background-position: 48.97959183673469% 88.11881188118812%;
	}
	@if $name == "reddit" {
		background-position: 65.15837104072398% 73.03370786516854%;
	}
	@if $name == "reddit--main" {
		background-position: 43.43891402714932% 73.03370786516854%;
	}
	@if $name == "search" {
		background-position: 19.27710843373494% 98.05825242718447%;
	}
	@if $name == "search--main" {
		background-position: 77.10843373493977% 76.69902912621359%;
	}
	@if $name == "settings" {
		background-position: 45.248868778280546% 40.168539325842694%;
	}
	@if $name == "the-man" {
		background-position: 0 0;
	}
	@if $name == "video" {
		background-position: 88.16326530612245% 88.11881188118812%;
	}
	@if $name == "video--main" {
		background-position: 78.36734693877551% 88.11881188118812%;
	}
	@if $name == "wings" {
		background-position: 47.04045008302639% 0;
	}
}

@mixin icon-sprite-scale($name, $scale) {
	@if ($scale != 0) {
		@if $name == "arrow-down" {
			background-size: (269px * $scale) (226px * $scale);
			width: 32px * $scale;
			height: 32px * $scale;
		}
		@if $name == "arrow-down--main" {
			background-size: (269px * $scale) (226px * $scale);
			width: 32px * $scale;
			height: 32px * $scale;
		}
		@if $name == "arrow-up" {
			background-size: (269px * $scale) (226px * $scale);
			width: 32px * $scale;
			height: 32px * $scale;
		}
		@if $name == "arrow-up--main" {
			background-size: (269px * $scale) (226px * $scale);
			width: 32px * $scale;
			height: 32px * $scale;
		}
		@if $name == "bars" {
			background-size: (269px * $scale) (226px * $scale);
			width: 48px * $scale;
			height: 48px * $scale;
		}
		@if $name == "content-text" {
			background-size: (269px * $scale) (226px * $scale);
			width: 24px * $scale;
			height: 24px * $scale;
		}
		@if $name == "content-text--main" {
			background-size: (269px * $scale) (226px * $scale);
			width: 24px * $scale;
			height: 24px * $scale;
		}
		@if $name == "email" {
			background-size: (269px * $scale) (226px * $scale);
			width: 48px * $scale;
			height: 48px * $scale;
		}
		@if $name == "email--main" {
			background-size: (269px * $scale) (226px * $scale);
			width: 48px * $scale;
			height: 48px * $scale;
		}
		@if $name == "garuda--white" {
			background-size: (269px * $scale) (226px * $scale);
			width: 64px * $scale;
			height: 68.9px * $scale;
		}
		@if $name == "header-controversial" {
			background-size: (269px * $scale) (226px * $scale);
			width: 24px * $scale;
			height: 24px * $scale;
		}
		@if $name == "header-gilded" {
			background-size: (269px * $scale) (226px * $scale);
			width: 24px * $scale;
			height: 24px * $scale;
		}
		@if $name == "header-hot" {
			background-size: (269px * $scale) (226px * $scale);
			width: 24px * $scale;
			height: 24px * $scale;
		}
		@if $name == "header-new" {
			background-size: (269px * $scale) (226px * $scale);
			width: 24px * $scale;
			height: 24px * $scale;
		}
		@if $name == "header-promoted" {
			background-size: (269px * $scale) (226px * $scale);
			width: 24px * $scale;
			height: 24px * $scale;
		}
		@if $name == "header-rising" {
			background-size: (269px * $scale) (226px * $scale);
			width: 24px * $scale;
			height: 24px * $scale;
		}
		@if $name == "header-top" {
			background-size: (269px * $scale) (226px * $scale);
			width: 24px * $scale;
			height: 24px * $scale;
		}
		@if $name == "image--white" {
			background-size: (269px * $scale) (226px * $scale);
			width: 28px * $scale;
			height: 28px * $scale;
		}
		@if $name == "logout" {
			background-size: (269px * $scale) (226px * $scale);
			width: 48px * $scale;
			height: 48px * $scale;
		}
		@if $name == "media-embed" {
			background-size: (269px * $scale) (226px * $scale);
			width: 24px * $scale;
			height: 24px * $scale;
		}
		@if $name == "quote" {
			background-size: (269px * $scale) (226px * $scale);
			width: 24px * $scale;
			height: 24px * $scale;
		}
		@if $name == "reddit" {
			background-size: (269px * $scale) (226px * $scale);
			width: 48px * $scale;
			height: 48px * $scale;
		}
		@if $name == "reddit--main" {
			background-size: (269px * $scale) (226px * $scale);
			width: 48px * $scale;
			height: 48px * $scale;
		}
		@if $name == "search" {
			background-size: (269px * $scale) (226px * $scale);
			width: 20px * $scale;
			height: 20px * $scale;
		}
		@if $name == "search--main" {
			background-size: (269px * $scale) (226px * $scale);
			width: 20px * $scale;
			height: 20px * $scale;
		}
		@if $name == "settings" {
			background-size: (269px * $scale) (226px * $scale);
			width: 48px * $scale;
			height: 48px * $scale;
		}
		@if $name == "the-man" {
			background-size: (269px * $scale) (226px * $scale);
			width: 100px * $scale;
			height: 130px * $scale;
		}
		@if $name == "video" {
			background-size: (269px * $scale) (226px * $scale);
			width: 24px * $scale;
			height: 24px * $scale;
		}
		@if $name == "video--main" {
			background-size: (269px * $scale) (226px * $scale);
			width: 24px * $scale;
			height: 24px * $scale;
		}
		@if $name == "wings" {
			background-size: (269px * $scale) (226px * $scale);
			width: 56.417px * $scale;
			height: 71.5px * $scale;
		}
	}
}
