.arrow {
  opacity: .7;
  // Bigger icons, scaled to a proportion for larger screen sizes
  // This way we still get crisp icons
  transform: scale(.75);
  transition: all .2s ease-in-out;

  @include mq(60em) {
    transform: scale(1);
    margin: .5rem 0;
  }

  &:hover {
    opacity: 1;
  }

  &.up {
    @include icon-sprite("arrow-up");
  }

  &.upmod {
    @include icon-sprite("arrow-up--main");
  }

  &.down {
    @include icon-sprite("arrow-down");
  }

  &.downmod {
    @include icon-sprite("arrow-down--main");
  }
}
