%button {
  padding-right: 1em;
  padding-left: 1em;
  transition: all .1s ease-in-out;
  border: 0;
  border-radius: 2px;
  background: darken($page-background-color, 5%);
  color: inherit;
  text-decoration: none;

  &:hover {
    background: $color-red;
    color: $page-background-color;
  }

  &:active {
    background: $color-red--dark;
    color: $page-background-color;
    box-shadow: inset 0 .3em .6em -.2em rgba(#000, .3);
  }
}

%button--dark {
  background: darken($page-background-color, 10%);
}

%button--darker {
  background: darken($page-background-color, 15%);
}

%button--subtle {
  background: darken($page-background-color, 2%);
  color: black;

  &:hover {
    background: darken($page-background-color, 5%);
    color: black;
  }

  &:active {
    background: darken($page-background-color, 5%);
    color: black;
  }
}

%button--green {
  background: $color-green;
  color: $page-background-color;

  &:hover {
    background: $color-green--dark;
  }

  &:active {
    background: $color-green--darker;
  }
}

%button--red {
  background: $color-red;
  color: $page-background-color;

  &:hover {
    background: $color-red--dark;
  }

  &:active {
    background: $color-red--darker;
  }
}

%button--yellow {
  background: $color-yellow-alt--desaturated;
  color: black;

  &:hover {
    background: $color-yellow-alt;
    color: black;
  }

  &:active {
    background: $color-yellow-alt--saturated;
    color: black;
  }
}
