#header {
  position: relative;
  min-height: $header-height;
  border-bottom: 0;
  background: linear-gradient(to bottom, rgba(black, .4) 0%, rgba(black, .4) 100%),
  //repeating-linear-gradient(-60deg, transparent, transparent 2px, rgba(white, .3) 2px, rgba(white, .3) 4px),
  url(%%header-new2%%) no-repeat center;
  background-size: cover;
  color: white;
  padding-bottom: $header-offset-height;
  transition: all .4s ease-in-out;
  z-index: auto;

  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   background: linear-gradient(to bottom, transparent 50%, white), repeating-linear-gradient(-60deg, transparent, transparent 2px, rgba(white, .3) 2px, rgba(white, .3) 4px), url(%%header-new%%) no-repeat center;
  //   opacity: .2;
  // }
  //
  //

  // The info of the header background image
  &:before {
    content: "The background image description here.";
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    background: rgba(black, .4);
    opacity: 0;
    transition: all .4s ease-in-out;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  &:target {
    // Show the header image more clearly when this is enabled
    padding-bottom: $header-offset-height * 4;

    &:before {
      opacity: 1;
      transition-delay: .4s;
    }

    & ~ .content {
      margin-top: 1rem;
    }
  }
}

// These links on the sidebar is placed below the end of the header bar
// These links are to toggle a bigger picture of the title and the information.
.md a[href="#header"] {
  position: absolute;
  right: 2rem;
  bottom: 100%;
  margin-bottom: 1rem;
  font-size: 0;
  z-index: 1;
  @include icon-sprite("image--white");

  &:hover {
    border-bottom-width: 2px;
  }

  #header:target + .side & {
    z-index: 0;
  }
}
.md a[href="#header2"] {
  position: absolute;
  right: 2rem;
  bottom: 100%;
  margin-bottom: 1rem;
  font-size: 0;
  @include icon-sprite("image--white");
  opacity: 0;
  transition: all .2s ease-in-out;
  border-bottom: 2px solid $color-red;

  #header:target + .side & {
    opacity: 1;
  }
}

#sr-header-area {
  position: relative;
  width: 100%;
  height: $sr-header-height;
  border-bottom: 0;
  background: none;
  font-size: 1rem;
  line-height: $sr-header-height;

  @include mq(60em) {
    height: $sr-header-height-mobile;
    line-height: $sr-header-height-mobile;
  }

  &:after {
    content: "";
    position: absolute;
    right: 3rem;
    bottom: 0;
    left: 3rem;
    margin: auto;
    height: 1px;
    background: rgba($page-background-color, .1);
  }

  > .width-clip {
    position: relative; // So the parent :before background can get displayed

    &:after {
      display: table;
      clear: both;
      content: "";
    }
  }

  .drop-choices.srdrop {
    display: block;
    right: 20px;
    left: 20px !important; // overriding the element inline style
    margin-left: 0;
    border: 0;
    opacity: 0;
    background: rgba($page-background-color, .95);
    color: black;
    font-size: 1.1rem;
    box-shadow: 0 1px 1px rgba(black, .2);
    white-space: initial;
    transform: translateY(-110%);
    transform-origin: top;
    transition: all .2s ease-in-out;

    &.inuse {
      opacity: 1;
      transform: translateY(0);
    }

    .choice {
      display: inline-block;
      color: currentColor;
      padding: 1em;

      &:hover {
        background: $color-red--light;
        color: white;
      }

      &.bottom-option {
        float: right;
        margin-top: 10px;
        border-top: 0;
      }

      &[href$="#{$subreddit-name}/"] {
        background: lighten($color-red, 40%);

        &:hover {
          background: $color-red--light;
        }
      }
    }
  }
}

.dropdown.srdrop {
  display: inline-block;
  position: absolute; // To collapse the dimensions, we'll use the sr-list padding instead
  min-width: 1%;
  padding-right: 1rem;
  z-index: 1;
  transition: all .2s ease-in-out;
  cursor: pointer;

  &:hover {
    background: $color-red;
    color: white;

    .selected {
      max-width: 150px;
      opacity: 1;
      transform: translateX(0);
    }
  }

  &:before {
    @include icon-sprite("bars", .375);
    content: "";
    display: inline-block;
    margin-top: -2px;
    vertical-align: middle;

    @include mq(60em) {
      @include icon-sprite-scale("bars", .5);
      margin-top: -7px;
    }
  }

  .selected {
    position: absolute;
    max-width: 0;
    margin: 0;
    padding: 0 .5rem;
    opacity: 0;
    z-index: 1;
    background: $color-red;
    background-image: none;
    color: white;
    transform: translateX(-100px);
    transition: all .2s ease-in-out;
  }
}

.sr-list {
  max-width: 93%;
  padding-left: 24px + 8px; // The size of the dropdown hamburger menu icon
  float: left;

  @include mq(60em) {
    padding-left: 36px + 8px; // The size of the dropdown hamburger menu icon
    font-size: 1.2rem;
  }

  .choice {
    color: white;
  }
}

.sr-bar .choice:hover {
  color: white;
}

#sr-more-link {
  position: static;
  max-width: 7%;
  float: left;
  background: none;
  color: currentColor;

  @include mq(60em) {
    font-size: 1.2rem;
  }
}

#header-bottom-left,
#header-bottom-right {
  position: relative;
  padding: 0 1em;
}

#header-bottom-left {
  width: 100%;
  margin-top: $sr-header-height;
  padding: 1rem;
  font-size: 1.4rem;

  @include mq(60em) {
    margin-top: $sr-header-height * 2;
    text-align: center;
  }
}

#header-bottom-right {
  position: absolute;
  top: $sr-header-height;
  bottom: auto;
  margin-left: auto;
  padding: .5rem 3rem .5rem 3rem;
  border-left: thin solid rgba($page-background-color, .1);
  border-radius: 0;
  background: none;
  color: white;
  text-align: right;

  @include mq(60em) {
    top: $sr-header-height-mobile;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 3rem; // The same with the border of #sr-header-area
    left: 0;
    height: 1px;
    background: rgba($page-background-color, .1);
  }

  a {
    color: currentColor;
  }

  > .user {
    display: inline-block;
    padding: .5em 0;
    color: currentColor;
    vertical-align: middle;

    @include mq(60em) {
      font-size: 1.4rem;
    }

    a {
      font-size: 1.4rem;
      padding-right: .5rem;
      opacity: .7;

      @include mq(60em) {
        font-size: 1.6rem;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  > .separator {
    color: transparent;
  }

  .beta-hint {
    display: inline-block;
    position: static;
    height: auto;
  }

  .beta-link {
    position: static;
    vertical-align: middle;
  }
}

#mail,
#modmail,
.pref-lang,
.logout a {
  position: relative;
  font-size: 0;
  opacity: .8;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(5px);
    transition: all .2s ease-in-out;
  }

  &:before {
    margin-top: .5rem;
    padding: .5rem 1rem;
    border-radius: 2px;
    background: white;
    color: black;
    font-size: 1.4rem;
    font-weight: normal;
    white-space: nowrap;
  }

  &:after {
    right: 3px;
    border-right: solid .5rem transparent;
    border-bottom: solid .5rem white;
    border-left: solid .5rem transparent;
  }

  &:hover {
    opacity: 1;

    &:before,
    &:after {
      opacity: .8;
      transform: translateY(0);
    }
  }
}

#mail,
#modmail {
  position: relative;
  top: 0;
  margin-bottom: 0;
  text-indent: 0;
  display: inline-block;
  overflow: visible;
  vertical-align: middle;
}

#mail {
  &.nohavemail {
    @include icon-sprite("email", .35);

    @include mq(60em) {
      @include icon-sprite-scale("email", .5);
    }

    &:before {
      content: "No new mail";
    }
  }

  &.havemail {
    @include icon-sprite("email--main", .35);

    @include mq(60em) {
      @include icon-sprite-scale("email--main", .5);
    }

    &:before {
      content: "New mail";
    }
  }
}

#modmail {
  &.nohavemail {
    @include icon-sprite("reddit", .35);

    @include mq(60em) {
      @include icon-sprite-scale("reddit", .5);
    }

    &:before {
      content: "No new mod mail";
    }
  }

  &.havemail {
    @include icon-sprite("reddit--main", .35);

    @include mq(60em) {
      @include icon-sprite-scale("reddit--main", .5);
    }

    &:before {
      content: "New mod mail";
    }
  }
}

// Iconize the preferences and the logout link
.pref-lang,
.logout a {
  display: inline-block;
  vertical-align: middle;
}

.pref-lang {
  @include icon-sprite("settings", .35);

  @include mq(60em) {
    @include icon-sprite-scale("settings", .5);
  }

  &:before {
    content: "Preferences";
  }
}

.logout a {
  @include icon-sprite("logout", .35);

  @include mq(60em) {
    @include icon-sprite-scale("logout", .5);
  }

  &:before {
    content: "Logout";
  }
}
