#header {
  position: relative;
  min-height: $header-height;
  border-bottom: none;
  background: linear-gradient(to bottom, rgba(white, .7) 0%, rgba(white, .7) 100%),
              //repeating-linear-gradient(-60deg, transparent, transparent 2px, rgba(white, .3) 2px, rgba(white, .3) 4px),
              url(%%header-new%%) no-repeat center;

  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   background: linear-gradient(to bottom, transparent 50%, white), repeating-linear-gradient(-60deg, transparent, transparent 2px, rgba(white, .3) 2px, rgba(white, .3) 4px), url(%%header-new%%) no-repeat center;
  //   opacity: .2;
  // }
}

#sr-header-area {
  position: relative;
  width: 100%;
  height: auto;
  padding: .3em 0;
  background: none;
  border-bottom: none;

  > .width-clip {
    position: relative; // So the parent :before background can get displayed

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .dropdown.srdrop {
    //display: inline-block;
    max-width: 14%;
  }

  .sr-list {
    float: left;
    max-width: 49%;
  }
}

#sr-more-link {
  background: none;
  position: static;
  float: left;
  max-width: 7%;
}

#header-bottom-left,
#header-bottom-right {
  position: relative;
  padding: 0 1em;
}

#header-bottom-left {
  font-size: 1.4rem;
}

.pagename {
  display: block;
}

#header-bottom-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  margin-left: auto;
  background: none;
  text-align: right;

  > .user {
    display: block;
  }

  > .separator {
    display: none;
  }
}

.pagename {
  letter-spacing: 4px;
  font-family: $font-family-heading;
  font-size: 2.4rem;
  font-weight: normal;
  text-align: center;
}
