.linkinfo {
  padding: 0;
  border: 0;
  background: none;

  .date {
    @include mq(60em) {
      font-size: 1.4rem;
    }
  }

  .date:first-letter {
    text-transform: uppercase;
  }

  .shortlink {
    font-size: 0;
  }
}

#shortlink-text {
  display: block;
  width: 100%;
  padding: .5em;
  border: thin solid darken($page-background-color, 8%);
  background: none;
  font-size: 1.2rem;

  @include mq(60em) {
    font-size: 1.4rem;
  }

  &:hover {
    border-color: darken($page-background-color, 24%);
  }
}
