.infobar.newsletterbar {
  height: -$content-offset-height;
  margin: 0 0 2rem;

  @include mq(60em) {
    height: auto;
  }
}

.infobar.newsletterbar a.newsletter-close {
  right: 1rem;
  font-size: 2.8rem;
  line-height: 1;
}
