.expando-button.selftext.collapsed {
  display: inline-block;
  float: none;
  vertical-align: middle;
  // TODO: After having new icons, change this to a smaller size

  + .tagline {
    display: inline;
  }
}

.linklisting {

  .thing {
    position: relative;
    padding: 1em 0;
    border-bottom: thin solid darken($page-background-color, 5%);

    .title {
      color: black;

      &:visited {
        color: #777;
      }


      > .linkflairlabel,
      > .title {
        vertical-align: middle;
      }
    }

    .rank {
      display: none;
    }

    .midcol {
      margin-right: 1.2rem;
    }

    .thumbnail {
      margin-right: 1.8rem;
    }
  }
}
