.linklisting {
  .thing {
    position: relative;
    padding: 1em 0;
    border-bottom: thin solid darken($page-background-color, 5%);

    &:after {
      @include icon-sprite("linkpost", .75);
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      margin-top: -.5rem;
      opacity: .1;
      transition: all .2s ease-in-out;
    }

    &:hover {
      &:after {
        opacity: .3;
      }
    }

    &.last-clicked {
      overflow: visible;
      border: none;
      border-bottom: thin solid darken($page-background-color, 5%);

      &:after {
        content: "Last Clicked";
        position: absolute;
        top: -1rem; // Negative number of the padding set on the entry
        right: 0;
        padding: .5rem 1rem;
        background: darken($page-background-color, 5%);
        font-size: 1.1rem;
        opacity: .5;
      }

      &:hover:after {
        opacity: .8;
      }
    }

    // Self posts
    &.self {
      &:after {
        @include icon-sprite("selfpost", .75);
      }
    }

    .entry {
      position: relative;
      margin: 0;
      // The padding-left gives an overflow buffer on the left
      // So we can absolute position things with a left margin of the votes and
      // thumbnails
      padding-left: $post-votes-width + $post-votes-margin-right + $post-thumbnail-width + $post-thumbnail-margin-right;
      overflow: visible;

      @include mq(44em) {
        padding-left: $post-votes-width + $post-votes-margin-right;
      }
    }

    .title {
      color: black;
      overflow: visible;

      &:visited {
        color: #777;
      }


      > .linkflairlabel,
      > .title {
        vertical-align: middle;
      }
    }

    .flat-list {
      margin-top: .5rem;

      .comments {
        @extend %button;
        display: inline-block;
        padding: .5rem 1rem;
      }
    }

    .tagline {
      font-size: 1.2rem;
    }

    .rank {
      display: none;
    }

    .midcol {
      position: relative;
      z-index: 1; // Add z-index to put it on top of .entry
      width: $post-votes-width;
      margin-right: $post-votes-margin-right;
    }

    .thumbnail {
      position: relative;
      z-index: 1; // Add z-index to put it on top of .entry
      width: $post-thumbnail-width;
      margin-right: $post-thumbnail-margin-right;

      @include mq(44em) {
        position: absolute;
        opacity: .1;
        filter: grayscale(.75);

        &.default,
        &.nsfw {
          opacity: .15;
        }
      }
    }

  }
}
