.titlebox .subscribe-button {
  display: block;
  margin: 1rem;
  text-align: center;

  > a {
    padding: .75rem 2rem;
    font-size: 1.4rem;
    text-transform: capitalize;

    @include mq(60em) {
      max-width: 400px;
      padding: 1rem 2rem;
    }

    &.active {
      display: block;
      margin: 0 auto;
    }

    &.add {
      font-size: 1.8rem;
    }
  }
}
